<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>

  <style>
    .preview {
      width: 100%;
      max-width: 1100px;
      margin: 80px auto;
      border: 1px dashed rgba(0, 0, 0, 0.2);
      position: relative;
    }

    .preview::before {
      content: 'WIDGET PREVIEW';
      position: absolute;
      display: block;
      top: -18px;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.5);
    }
  </style>

</head>

<body>
  <drop-files name="files[]" label="Drop files here or click to upload." help="Seuls les fichiers .doc, .docx, .pdf et .odt peuvent être déposé"></drop-files>
  <script async src="/bundle.js"></script>
</body>

</html>
